*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 50px 50px 200px 1fr 200px 100px;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 2px solid black;
  background-color:white;
  color: black;
  width: 100%;
  justify-content: stretch;
  justify-items: center;
}
header *{
  place-self: center;
}
.login{
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size:14px
}
.subscribe{
  text-decoration: underline;
  color: black;
  padding: 20px;
}

main {
  display: grid;
  grid-template-columns: 3fr 12fr 5fr;
  grid-auto-flow: column;
  margin-top: 75px;
  grid-gap: 15px;
  width: 1250px;
}

main * {
  grid-column: 2 / -2;
}

.inflation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-image: url("Img\inflation-945.png");
  width: 500px;
}

.inflation img {
  border: 1px solid black;
  grid-area: 1/1/-1/-1;
  width: 500px;
  float: left;
}

.top {
  grid-row: 2 / 3;
  grid-column: auto;
}

.bottom {
  grid-row: 4 / 5;
  grid-column: auto;
}

.satellite-img {
  width: 500px;
  height: 250px;
}

.main-article-img {
  width: 50%;
}

.editors-pick {
  grid-column: 3 / -1;
  grid-row: 10 / 14;
}
