*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 50px 50px 200px 1fr 200px 100px;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 2px solid black;
  background-color: white;
  color: black;
  width: 100%;
  justify-content: stretch;
  justify-items: center;
}

header * {
  place-self: center;
}

.login {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
}

.subscribe {
  text-decoration: underline;
  padding: 20px;
}

main {
  display: grid;
  grid-template-columns: 3fr 12fr 3fr;
  grid-auto-flow: column;
  margin-top: 75px;
  grid-gap: 15px;
  width: 1250px;
}

main * {
  grid-column: 2 / -2;
}

main p,
h4 {
  padding: 0 150px;
}

.main-article-img {
  grid-column: 2/-2;
  width: 100%;
}

.inflation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-image: url("Img/inflation-945.png");
  background-size: cover;
  height: 750px;
  grid-gap: 5px;
}

.inflation p {
  padding: 0;
  font-size: 12px;
}

.top {
  grid-row: 2 / 3;
  grid-column: auto;
}

.bottom {
  grid-row: 4 / 5;
  grid-column: auto;
}

.satellite-img {
  width: 500px;
  height: 250px;
}

.create-account {
  place-self: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 25px 0;
  font-weight: bold;
}

.create-account a {
  color: rgb(50, 104, 145);
  background: white;
  text-decoration: none;
  display: block;
  text-align: center;
}

.editors-pick {
  grid-column: 3 / -1;
  grid-row: 10 / 14;
}

.bottom-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 50px;
}

.space-astronomy {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 25px 175px 175px 200px;
  grid-auto-flow: column;
  grid-gap: 50px;
  border-top: 1px solid black;
}

.space-astronomy h6 {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.space-astronomy img {
  width: 100%;
}

.bottom-editors-pick {
  grid-area: -2 / 1 / -1 / -1;
  display: flex;
  border-top: 1px solid black;
}

.popular-links a {
  font-size: 15px;
  padding: 15px;
}

.bottom-editors-pick img {
  width: 225px;
  height: 150px;
}

.popular-links {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
}
footer{
  display: flex;
  padding :50px;
  align-items: flex-start;
  width: 100%;
  justify-content: space-around;
  
}
footer div{
  display: flex;
  flex-direction: column;
  
}
footer a{
  text-decoration: none;
  color:black
}
footer a:hover{
  text-decoration: underline;
}